<!-- dashboard.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome, <%= user.Name %>!</h1>
  <p>Your email: <%= user.Email %></p>
  <p>Your id: <%= user.UserID %></p>
  <!-- Other content -->
</body>
</html>